@import './_palette';

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

/* Style the "Try in Sandbox" link */
pre[data-lang='graphql'] {
  margin-bottom: 0.25em;
}

p.graphql-link {
  text-align: right;
  margin-top: 0.25em;
  padding-right: 1em;

  a img {
    position: relative;
    top: 3px;
  }
}

.iconlist {
  .iconlist-icon {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: $secondary;
  }
}
.content {
  padding-top: 0;
  left: 200px;
}
@media screen and (max-width: 768px) {
  main {
    height: 100%;
  }
  /* Fix behavior for when sidebar should be open */
  .sidebar {
    left: 0;
  }
  .content {
    position: fixed;
    overflow: auto;
    width: calc(100% - 200px);
    height: 100%;
  }

  // /* Fix behavior for when sidebar should be closed */
  //.close .sidebar {
  //   transform: translateX(0);
  // }
  //.close .content {
  //   transform: translateX(0px);
  // }
}
.markdown-section {
  max-width: 100%;
  padding: 30px;
}

.vtn-action-links {
  @media (max-width: 860px) {
    .nav-label {
      display: none;
    }
  }
  @media (max-width: 660px) {
    display: none;
  }
}
