@import './_palette.scss';
@import './_variables.scss';

.sidebar-toggle span {
  background-color: $secondary;
}

.sidebar {
  a {
    text-decoration: none;
    color: inherit;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 24px;
      margin-right: 8px;
    }

    .logo-text {
      font-size: 24px;
    }
  }

  /* For collapsing all but current page */
  font-family: 'Dosis', sans-serif;

  .collapse ul {
    display: none;
  }

  li {
    margin: 0;

    a {
      height: 36px;
    }
  }

  /* Top-level ul */
  .sidebar-nav > ul {
    margin-left: $unit * 4;

    & > li {
      margin: $unit * 3 0;
      & > p > a {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  /* Sub-level ul */
  .sidebar-nav > ul ul {
    margin-left: $unit * 3;

    & > li {
      a {
        font-size: 16px;
      }
    }
  }

  /**
  * For highlighting the currently selected page
  * Because the default assumes you only want things highlighted if they don't have any subpages
  **/
  ul li .active > a {
    border-right: $unit * 3/4 solid;
    color: $secondary;
    font-weight: 600;
  }

  .active {
    &.engine-developer {
      & > a,
      & li.active > a {
        color: $secondary;
      }
    }

    &.ml-integrator {
      & > a,
      & li.active > a {
        color: $accent2;
      }
    }

    &.ml-explorer {
      & > a,
      & li.active > a {
        color: $accent3;
      }
    }

    &.app-developer {
      & > a,
      & li.active > a {
        color: $accent1;
      }
    }
  }

  /* Provide some differentiation between section headings and sub-pages in the sidebar */
  .section-link {
    font-style: italic;
  }
}

body.custom-sidebar,
body.only-side-sidebar {
  .sidebar {
    width: 200px;
    font-family: 'Nunito', sans-serif;
    background: #f4f4f4;
    a {
      text-align: left;
      line-height: 36px;
    }
    .logo {
      justify-content: left;
      margin-left: $unit * 1.5;
    }
    .logo-text {
      color: #2a323c;
      font-weight: 600;
      font-size: 18px;
      margin: 0 0 12px 0;
    }
    .collapse {
      border-top: 0.5px solid #d5dfe9;
      ul {
        display: none;
      }
    }
    .sidebar-nav > ul {
      margin: 0;
      & > li {
        margin: 0;
        & > p {
          display: flex;
          align-items: center;
          cursor: pointer;
          &::before {
            content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjQ0MjUgNi40NDI1TDkgOS44Nzc1MUw1LjU1NzUgNi40NDI1TDQuNSA3LjVMOSAxMkwxMy41IDcuNUwxMi40NDI1IDYuNDQyNVoiIGZpbGw9IiM1NTVGN0MiLz4KPC9zdmc+Cg==');
            display: inline-block;
            width: 18px;
            height: 18px;
            padding: 0 7px;
          }
          &.active {
            &::before {
              content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNS41NTc1IDExLjU1NzVMOSA4LjEyMjQ5TDEyLjQ0MjUgMTEuNTU3NUwxMy41IDEwLjVMOSA1Ljk5OTk5TDQuNSAxMC41TDUuNTU3NSAxMS41NTc1WiIgZmlsbD0iIzU1NUY3QyIvPjwvc3ZnPg==');
            }
          }
          a {
            font-size: 14px !important;
            font-weight: 600;
          }
        }
      }
    }
    /* Sub-level ul */
    .sidebar-nav > ul ul {
      margin-left: $unit * 4;

      & > li {
        border-top: none;
        a {
          font-size: 14px !important;
          font-weight: normal;
        }
      }
      p::before {
        display: none;
      }
    }
    .sidebar-nav > ul ul ul {
      margin-left: $unit * 2;
    }
    ul li .active > a {
      border-right: $unit * 3/4 solid;
      border: none;
      color: $secondary;
      font-weight: 600;
    }
  }
}
body.only-side-sidebar {
  .sidebar {
    width: 100% !important;
    background: #ffffff !important;
  }
}
